@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color: white;
}

html, body{
  height: 100%;
  width: 100%;
}

html{
  background-color: #111;
}

#taskList::-webkit-scrollbar{
   display: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}